aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.2.10
click==7.1.2
coverage==5.3
distlib==0.3.1
Django==3.1.1
filelock==3.0.12
Flask==1.1.2
Flask-GraphQL==2.0.1
freezegun==1.0.0
graphene==2.1.8
graphene-mongo==0.2.13
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
lxml==4.5.2
MarkupSafe==1.1.1
mongoengine==0.20.0
mypy-extensions==0.4.3
parameterized==0.7.4
parso==0.7.1
pathspec==0.8.0
pip-tools==5.3.1
promise==2.3
pymongo==3.11.0
python-dateutil==2.8.1
pytz==2020.1
regex==2020.7.14
Rx==1.6.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
virtualenv==20.0.31
Werkzeug==1.0.1
Writing-Center==0.0.0
